.contacts{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__item{
    max-width: 500px;
    width: 100%;
  }
  &__title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
  }
  &__text{
    font-size: 15px;
    font-weight: 300;
    & p{
      margin: 30px 0;
      line-height: 24pt;
    }
  }
  &__photo img{
    display: block;
    width: 100%;
    max-height: auto;
    max-width: 400px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgb(170, 170, 170, 0.2);
  }
}

.form__body {
position: relative;
}

.form__body::after {
content: "";
position: absolute;
top: -80px;
left: 0;
width: 100%;
height: 100%;
background: url("/src/assets/images/loading.gif") center / 50px no-repeat;
opacity: 0;
visibility: hidden;
transition: all 0.5s ease 0s;
}

.form__body._sending::after {
opacity: 1;
visibility: visible;
}

.form__input{
  max-width: 500px;
  width: 100%;
  height: 50px;
  margin: 15px 0px 15px ;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 15px;
  letter-spacing: 1px;

  font-size: 12px;
  font-weight: 300;
  opacity: .8;
  padding: 10px 0px 10px 20px;

  transition: all 0.5s ease 0s;
}

.form__input._error {
box-shadow: 0 0 15px red;
}

textarea.form__input {
min-height: 150px;
resize: vertical;
padding: 20px;
  letter-spacing: 1px;

  font-size: 12px;
  font-weight: 300;
  opacity: .8;
}

.form__button{
  border: none;
  font: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 15px 50px;
  background-color: #000;
  margin-top: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.form__button:hover{
  opacity: 0.8;
}