.intro {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media screen and (max-width: $smDesktopWidth) {
    flex-direction: column;
    align-items: center;
}
}
.intro__item{
  padding: 15px;
  

  & img{
      max-width: 440px;
      display: block;
      max-height: auto;
      width: 100%;
      margin-bottom: 25px;
      border-radius: 15px;
      box-shadow: 0 0 10px 5px rgb(170, 170, 170, 0.5);
      transition: all 0.4s ease 0s;
      &:hover{
        opacity: 0.9;
        transition: all 0.4s ease 0s;
      }
  }
}

.intro__title{
  font-size: 20px;
  letter-spacing: 1.5px;
}