.price{
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;

  &__inner{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 0 ;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.5);
    margin-bottom: 50px;
  }

  &__item{
    width: 100%;
    max-width: 402px;
    margin: 10px 40px;
  }

  &__title{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 20px 0 30px;
    line-height: 34pt;
  }

  &__photo img{
    display: block;
    width: 100%;
    max-width: 360px;
    max-height: auto;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgb(170, 170, 170, 0.2);
  }

  &__text{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    & p{
      margin-top: 10px;
    }
  }
}


.price__button{
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 15px 50px;
  background-color: #000;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;

  &:hover{
    opacity: 0.8;
  }
}

